@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* CORES */
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terceiaria: #22D4FD;
    --cor-hover: #272727;

    /* FONTES */
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    color: var(--cor-terceiaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}


body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.apresentacao{
  /* Flexblox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--fonte-primaria);
}
.strong__titulo{
    color: var(--cor-terceiaria);
}
.apresentacao__conteudo__p{
    font-size: 24px;
    font-weight: 400;
    font-family: var(--fonte-secundaria);
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.apresentacao__links__social{
    display: flex;
    width: 381px;
    padding: 21.5px 0;
    text-align: center;
    justify-content: center;
    gap: 16px;

    border: 2px solid var(--cor-terceiaria);
    border-radius: 8px;

    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;  
}
.apresentacao__links__social:hover{
    background-color: var(--cor-hover);
}
.h2__apresentacao__links{
    font-family: var(--fonte-primaria);
    font-size: 24px;
    font-weight: 400;
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terceiaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 24px;
    margin-top: 75px;
}



